.error-container {
    background-color: #F4F5F7;

    main {
        height: 100vh;
    }

    .warn-msg {
        background-color: #091E42;
        color           : #F4F5F7;

        h1 {
            font-size: 5em;
        }

        button {
            background : #091E42;
            margin     : 25px 0px 25px 0px;
            color      : #F4F5F7;
            font-size  : 1em;
            font-weight: 800;
            height     : 64px;
            width      : 128px;
            border     : 1px solid #F4F5F7;
            cursor     : pointer;

            &:active {
                background: #F4F5F7;
                color     : #091E42;
            }
        }
    }

    .svg-container {
        display         : flex;
        background-color: #F4F5F7;
    }
}

@media screen and (max-width: 600px) {
    .error-container {
        .warn-msg {
            h1 {
                font-size: 3em;
            }

            button {
                font-size: 0.75em;
                height   : 48px;
                width    : 96px;
            }
        }
    }
}