.error-container {
    background-color: #F4F5F7;
    height          : 100vh;
    width           : 100vw;

    .warn-msg {
        background-color: #091E42;
        display         : flex;
        flex-direction  : column;
        justify-content : center;
        align-items     : center;
        color           : #F4F5F7;

        h1 {
            font-size: 5em;
            margin   : 0;
            padding  : 0;
        }

        button {
            background : #091E42;
            margin     : 25px 0px 25px 0px;
            color      : #F4F5F7;
            font-size  : 1em;
            font-weight: 800;
            height     : 64px;
            width      : 128px;
            border     : 1px solid #F4F5F7;
            cursor     : pointer;

            &:active {
                background: #F4F5F7;
                color     : #091E42;
            }
        }
    }

    .svg-container {
        display         : flex;
        background-color: #F4F5F7;
    }
}