<main>
  <section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div>
        <h1 class="title is-size-1 is-size-3-mobile">
          You're being redirected!
        </h1>
        <h2 class="subtitle is-size-2 is-size-4-mobile">
          Please wait...
        </h2>
        <button type="button" class="button is-primary is-light is-size-5 is-size-6-mobile" [routerLink]="['/']">
          HOME
        </button>
      </div>
    </div>
  </section>
</main>
<app-modal [modalDetails]="modalDetails" (closeModalEvent)="closeModal()"> </app-modal>
