<div class="home full-viewport flex-center">
    <header class="flex-center">
        <h1>SAUF MESSENGER</h1>
        <h2>Safe & Secure, Anonymous, Untrackable and Fast Messenger</h2>
    </header>
    <main>
        <div class="container">
            <input class="alias" type="text" placeholder="Your Alias (required)" [(ngModel)]="alias" maxlength=30 />
            <div class="inner-container">
                <div class="left-container">
                    <div class="new-room">
                        <span>New Room ID:</span>
                        <div class="new-room-input">
                            <button type="button" class="refresh-id tooltip" (click)="refreshId()">
                                <span class="d-none">generate new Room ID</span>
                                <span class="tooltip-text">Generate new Room ID</span>
                            </button>
                            <input title="Room ID" type="text" readonly [value]="newRoomId" />
                            <button type="button" class="copy tooltip" (click)="onCopy()">
                                <span class="d-none">copy</span>
                                <span class="tooltip-text" [innerText]="copyText"></span>
                            </button>
                        </div>
                    </div>
                    <button class="action-btns" type="button" [disabled]="alias.length === 0">
                        Get Started
                    </button>
                </div>
                <div class=" seperator">
                </div>
                <div class="right-container">
                    <span>Already have a Room ID? Join now:</span>
                    <input type="text" maxlength=36 placeholder="Paste a valid Room ID" [(ngModel)]="userRoomId"
                        (ngModelChange)="checkRoomId()" />
                    <button class="action-btns" type="button" [disabled]="alias.length === 0 || !isValidUserRoomId">
                        Join
                    </button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        Made with ❤️ by Sayantan Roy. Source code:
        <a href="https://github.com/dusk196/sauf-messenger" target="_blank">GitHub</a>
    </footer>
</div>