<header>
  <section class="hero is-primary is-halfheight">
    <div class="hero-body">
      <div>
        <h1 class="title is-size-2 is-size-3-mobile">
          CIPHOGRAM
          <span id="headerText" class="subtitle is-size-4 is-hidden-mobile">
            <span *ngFor="let header of headers"> {{header}} </span>
          </span>
        </h1>
        <h2 id="mobileHeaderText" class="subtitle is-size-5-mobile is-hidden-tablet">
          <span *ngFor="let header of headers"> {{header}} </span>
        </h2>
        <h2 class="subtitle is-size-4 is-size-5-mobile">
          Over <strong> {{counter}}+ </strong> secure messages are exchanged & still counting
          <fa-icon [icon]="faHeart"> </fa-icon>
        </h2>
        <button type="button" class="button is-primary is-rounded is-light is-size-5 is-size-6-mobile"
          [routerLink]="['/start']">
          Quick Start 🚀
        </button>
      </div>
    </div>
    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li [ngClass]="{'is-active': createRoom}" (click)="toogleCreateRoom(true)">
              <a class="has-text-weight-bold"> Create room </a>
            </li>
            <li [ngClass]="{'is-active': !createRoom}" (click)="toogleCreateRoom(false)">
              <a class="has-text-weight-bold"> Join Room </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</header>
<main class="main">
  <section class="section">
    <p *ngIf="createRoom" class="block">
      Since this messenger is completely anonymous, there is no account associated with it. Just create a private room
      and then you can share either the secret <strong> Room ID </strong> or the <strong> Quick Join Link </strong>
      (easiest way) with the other participants.
    </p>
    <p *ngIf="!createRoom" class="block">
      Don't have the <strong> Quick Join </strong> link? You can ask the sender for it (easiest way to join) or provide
      the secret Room ID below to join a room.
    </p>
    <div class="columns is-variable is-8">
      <div
        class="column is-full-mobile is-four-fifths-tablet is-three-quarters-desktop is-two-thirds-widescreen is-half-fullhd">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"> Alias: </label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <div class="control has-icons-left is-expanded">
                <input class="field input is-primary" type="text" placeholder="Your Alias (required)"
                  [(ngModel)]="userDetails.name" maxlength=30 [disabled]="(isLoading || isChecking)" />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"> </fa-icon>
                </span>
              </div>
              <div class="control">
                <button type="button" class="button is-primary" (click)="generateAlias()"
                  [disabled]="(isLoading || isChecking)">
                  <span class="icon is-small">
                    <fa-icon [icon]="faRotateRight"> </fa-icon>
                  </span>
                  <span> Random </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!createRoom" class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label"> Room ID: </label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <div class="control has-icons-left is-expanded">
                <input class="field input is-primary" type="text" maxlength=36 placeholder="Room ID (required)"
                  [(ngModel)]="userRoomId" (ngModelChange)="checkRoomId()" [disabled]="(isLoading || isChecking)"
                  #roomId="ngModel" />
                <p *ngIf="(isPasted || roomId.touched) && !isValidUserRoomId" class="help is-danger">
                  This Room ID is invalid
                </p>
                <p *ngIf="isValidUserRoomId" class="help is-success">
                  This Room ID is valid
                </p>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faPeopleRoof"> </fa-icon>
                </span>
              </div>
              <div class="control">
                <button *ngIf="!isPasted && userRoomId.length===0" type="button" class="button is-primary"
                  (click)="pasteRoomId()" [disabled]="(isLoading || isChecking)">
                  <span class="icon is-small">
                    <fa-icon [icon]="faPaste"> </fa-icon>
                  </span>
                  <span> Paste </span>
                </button>
                <button *ngIf="userRoomId.length > 0" type="button" class="button is-primary" (click)="clearRoomId()"
                  [disabled]="(isLoading || isChecking)">
                  <span class="icon is-small">
                    <fa-icon [icon]="faCircleXmark"> </fa-icon>
                  </span>
                  <span> Clear </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal"> </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <label class="checkbox" for="isProd">
                  <input id="isProd" (change)="onModeChange()" [(ngModel)]="isProdMode" type="checkbox"
                    name="is Production Mode" />
                  Production mode (<a class="is-underlined" (click)="whatsProdMode()">what's this?</a>)
                </label>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="createRoom" class="field is-horizontal">
          <div class="field-label is-normal"> </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button type="button" class="button is-primary" (click)="jumpToRoom()"
                  [disabled]="userDetails.name.length === 0 || isChecking" [ngClass]="{'is-loading': isLoading}">
                  Get Started
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="!createRoom" class="field is-horizontal">
          <div class="field-label is-normal"> </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <button type="button" class="button is-primary" (click)="jumpToRoomId()"
                  [disabled]="userDetails.name.length === 0 || !isValidUserRoomId || isChecking || isLoading"
                  [ngClass]="{'is-loading': isChecking}">
                  Join Room
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <article class="message is-primary">
      <div class="message-body">
        <strong class="is-underlined">Pro Tips:</strong>
        <p *ngIf="createRoom">
          🔥 You can also use the <strong> Quick Start </strong> link:
          <strong>
            <a [href]="quickStart" target="_self"> {{quickStart}} </a>
          </strong>
          to create a random room with a random alias and start chatting in no time!
        </p>
        <p *ngIf="!createRoom">
          🔥 You can ask for the <strong> Quick Join </strong> link to the sender instead of Room ID which will directly
          redirect you to a room with a random alias.
        </p>
        <p> 😎 Alias can be changed later anytime. </p>
        <p> 💣 Rooms are auto-destroyed for enhanced security as soon as every user leaves it. </p>
      </div>
    </article>
  </section>
  <section class="hero is-medium is-info">
    <div class="hero-body">
      <h3 class="subtitle is-size-5 is-size-6-mobile">
        An anonymous, untrackable, private, highly safe & secure yet a blazing fast messenger made for privacy
        enthusiasts. Have you ever felt not safe using big corporates messaging platforms for their huge trackings &
        data collections? I sure did! Personally, I take privacy very seriously. I don't even support using WhatsApp or
        even Google services; only because of my privacy concerns. Hence, the CIPHOGRAM Messenger!
      </h3>
      <button type="button" class="button is-info is-light is-rounded" (click)="showHow()">
        So, how is this any different?
      </button>
    </div>
  </section>
</main>
<footer class="footer">
  <p class="has-text-centered">
    Made with ❤️ by <strong>Sayantan Roy</strong>
  </p>
  <p class="has-text-centered is-size-6-mobile">
    Source code:
    <a class="is-underlined" rel="noopener" href="https://github.com/dusk196/ciphogram-messenger" target="_blank">
      GitHub
    </a>
  </p>
  <p class="has-text-centered is-size-6-mobile">
    Last build: {{buildTime}} (App: v{{version}}, Angular: {{angularVersion}})
  </p>
</footer>
<app-modal [modalDetails]="modalDetails" (closeModalEvent)="closeModal()"> </app-modal>