<div class="home full-viewport flex-center">
    <header class="flex-center">
        <h1>SAUF MESSENGER</h1>
        <h2>Safe & Secure, Anonymous, Untrackable and Fast Messenger</h2>
    </header>
    <main>
        <div class="input-container">
            <input type="text" placeholder="Enter your email address" />
            <button type="button">Get Started</button>
        </div>
    </main>
    <footer>
        Made with ❤️ by Sayantan Roy! Source code:
        <a href="https://github.com/dusk196/sauf-messenger" target="_blank">GitHub</a>
    </footer>
</div>