<header>
  <nav class="navbar is-fixed-top" [ngClass]="isDarkMode ? 'is-dark' : 'is-light'">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="'/home'" target="_blank">
          <span class="icon-text">
            <span class="icon">
              <img src="assets/favicon.svg" alt="logo" />
            </span>
            <span class="has-text-weight-bold"> CIPHOGRAM </span>
          </span>
        </a>
        <div class="navbar-burger burger" [ngClass]="{'is-active':isNavActive}" (click)="toggleNavMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" [ngClass]="{'is-active':isNavActive}">
        <div class="navbar-start">
          <a class="navbar-item"> Room details </a>
          <a class="navbar-item"> Alias </a>
          <a class="navbar-item"> Online (2) </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-rounded" [ngClass]="isDarkMode ? 'is-dark' : 'is-light'" (click)="changeTheme()">
                <span class="icon">
                  <fa-icon [icon]="isDarkMode ? faSun : faMoon"> </fa-icon>
                </span>
                <span [innerText]="isDarkMode ? 'Light' : 'Dark'"> </span>
              </a>
              <a class="button is-rounded" [ngClass]="isDarkMode ? 'is-dark' : 'is-light'">
                <span class="icon">
                  <fa-icon [icon]="faCloudArrowDown"> </fa-icon>
                </span>
                <span> Download </span>
              </a>
              <a class="button is-rounded is-danger" [routerLink]="'/home'"> Exit </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <section class="section" [ngClass]="isDarkMode ? 'is-dark has-background-dark' : 'is-light has-background-light'">
    <div class="container is-size-7-mobile">
      <div class="block is-clearfix">
        <div class="notification is-pulled-left"
          [ngClass]="isDarkMode ? 'is-primary' : 'is-primary has-background-primary-dark has-text-white'">
          This container is <strong> centered </strong> on desktop and larger viewports.
        </div>
      </div>
      <div class="block is-clearfix">
        <div class="notification is-pulled-right"
          [ngClass]="isDarkMode ? 'is-info' : 'is-info has-background-info-dark has-text-white'">
          This container is <strong> centered </strong> on desktop and larger viewports.
        </div>
      </div>
      <div class="block is-clearfix">
        <div class="notification is-pulled-left"
          [ngClass]="isDarkMode ? 'is-primary' : 'is-primary has-background-primary-dark has-text-white'">
          This container is <strong> centered </strong> on desktop and larger viewports.
        </div>
      </div>
      <div class="block is-clearfix">
        <div class="notification is-pulled-right"
          [ngClass]="isDarkMode ? 'is-info' : 'is-info has-background-info-dark has-text-white'">
          This container is <strong> centered </strong> on desktop and larger viewports.
        </div>
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="navbar section is-fixed-bottom" [ngClass]="isDarkMode ? 'is-dark has-background-dark' : 'is-light'">
    <div class="container">
      <div class="block" [ngClass]="isDarkMode ? 'is-dark has-background-dark' : 'is-light'">
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <textarea class="field textarea has-fixed-size is-info is-hidden-touch"
                [ngClass]="{'has-background-grey-dark has-text-white': isDarkMode}" title="message"
                [placeholder]="placeholderText" [(ngModel)]="message" (keyup.enter)="sendMessage()" maxlength="2000"
                autofocus> </textarea>
              <textarea class="field textarea has-fixed-size is-info is-small is-hidden-desktop"
                [ngClass]="{'has-background-grey-dark has-text-white': isDarkMode}" title="message"
                [placeholder]="mobilePlaceholderText" [(ngModel)]="message" (keyup.enter)="sendMessage()"
                maxlength="2000" autofocus> </textarea>
              <button type="button" class="button is-small is-hidden-desktop" (click)="changeTheme()"
                [ngClass]="isDarkMode ? 'is-info is-light' : 'has-background-info-dark has-text-white'">
                Send
              </button>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <button type="button" class="button is-rounded is-medium is-hidden-touch" (click)="changeTheme()"
              [ngClass]="isDarkMode ? 'is-info is-light' : 'has-background-info-dark has-text-white'">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- <section class="is-hidden is-hidden-touch">
  DESKTOP
</section>
<section class="is-hidden is-hidden-desktop">
  MOBILE
</section>
<div class="is-hidden msg-container">
  <header>
    <div class="left">
      <h1 class="is-size-1 is-size-3-mobile">MAZE - Be Amazed! {{counter}}</h1>
      <div class="roomDetails">
        <h3>Room ID: {{roomId}}</h3>
        <button type="button" class="copy tooltip" (click)="onCopy()" (mouseenter)="onMouseEnter()">
          <span class="d-none">copy new room id</span>
          <span class="tooltip-text tooltip-msg" [innerText]="copyText"></span>
        </button>
      </div>
    </div>
    <div class="right">
      <button *ngIf="!isProdMode" type="button" class="switch tooltip" [ngClass]="isEncrypted ? 'on' : 'off'"
        (click)="isEncrypted = !isEncrypted">
        <span class="d-none">toggle encryption</span>
        <span class="tooltip-text tooltip-msg" [innerText]="isEncrypted?'Show decrypted!' : 'Show encrypted!'"></span>
      </button>
      <button type="button" [routerLink]="'/home'">Exit</button>
    </div>
  </header>
  <main>
    <div class="left" #chatContainer>
      <div class="top">
        <div class="chat-wrapper" *ngFor="let msg of allMessages">
          <div *ngIf="msg.intendedRecipientId === localUser.id"
            [ngClass]="msg.createdBy === localUser.id ?'chat-right': 'chat-left'">
            <p class="name" [innerText]="isEncrypted ? msg.createdBy : msg.createdBy | userById: allConnectedUsers"></p>
            <div
              [innerText]="isEncrypted ? msg.secretMessage : ((msg.secretMessage | decryptMsgs) || 'ALERT: Unable to decrypt!')">
            </div>
            <p class="time">{{msg.createdAt | date:'h:mm a, dd MMM yyyy'}}</p>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="text-container">
          <textarea title="msg" class="text" [placeholder]="placeholderText" [(ngModel)]="message"
            (keyup.enter)="sendMessage()" maxlength="2000" autofocus></textarea>
          <button type="button" class="send" (click)="sendMessage()">
            <span class="d-none">send</span>
          </button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="list">
        <div class="status">
          <h3>Online: {{allConnectedUsers.length}}</h3>
          <ul>
            <li *ngFor="let user of allConnectedUsers">
              <span [ngClass]="{'bold': user.id === localUser.id}"
                [innerText]="isEncrypted ? user.id : user.name"></span>
            </li>
          </ul>
        </div>
        <div class="alias-container">
          <p>You've connected as:</p>
          <input class="" type="text" placeholder="Update Alias (required)" [(ngModel)]="aliasFormData" maxlength=30 />
          <div class="btns">
            <button type="button" class="" (click)="updateAlias()"
              [disabled]="aliasFormData.length === 0">Update</button>
            <button type="button" class="" (click)="generateAlias()">Random</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <footer>
      <p>
        Made with ❤️ by Sayantan Roy. Source code:
        <a rel="noopener" href="https://github.com/dusk196/maze-messenger" target="_blank">GitHub</a>
      </p>
    </footer>
  </footer>
</div> -->
<app-modal [modalDetails]="modalDetails" (closeModalEvent)="closeModal()"> </app-modal>
<app-info-modal [modalDetails]="infoModalDetails" (closeModalEvent)="closeInfoModal()"> </app-info-modal>
