.msg-container {
    display           : grid;
    grid-template-rows: auto 1fr auto;
    width             : 100%;
    height            : 100%;

    header {
        background-color: #273036;
        color           : #FFFFFF;
        display         : flex;
        justify-content : space-between;
        padding         : 5px;
        box-shadow      : 0px 0px 10px 5px #273036;
        z-index         : 1;

        h1 {
            font-weight: 600;
            padding    : 5px;
        }

        h3 {
            font-weight: 400;
            padding    : 5px;
        }

        button {
            background-color: #273036;
            color           : #FFFFFF;
            border          : 1px solid #FFFFFF;
            margin          : 0px 10px;
            border-radius   : 5px;
            font-size       : 2em;
            font-weight     : 600;
            cursor          : pointer;


            &:hover {
                color     : #273036;
                background: #FFFFFF;
            }

            &:active {
                color     : #FFFFFF;
                background: #9E2A2B;
            }
        }

        .left {
            text-align: left;

            .roomDetails {
                display: flex;

                button {
                    height: 1em;
                    width : 1em;
                    border: 0;
                    cursor: pointer;

                    &.copy {
                        background: url("./../../../assets/copy.svg") no-repeat center center;
                    }

                    &:active {
                        opacity: 0.75;
                    }
                }
            }
        }

        .right {
            text-align  : right;
            align-items : center;
            display     : flex;
            margin-right: 10px;
        }
    }

    main {
        background-color: #A0C1D1;
        color           : #273036;
        display         : flex;

        .left {
            width       : 80%;
            text-align  : left;
            margin-right: 8px;

            .top {
                height        : calc(100vh - 280px);
                overflow-y    : auto;
                display       : flex;
                flex-direction: column;

                .chat-wrapper {
                    width: 100%;

                    .name {
                        font-weight  : 600;
                        color        : #FFFFFF;
                        margin-bottom: 10px;
                    }

                    .chat-left {
                        text-align   : left;
                        padding      : 20px;
                        margin       : 20px;
                        float        : left;
                        width        : fit-content;
                        max-width    : 80%;
                        background   : #9E2A2B;
                        color        : #FAEBD7;
                        border-radius: 10px;
                        box-shadow   : 5px 5px 20px 2px #273036;

                        .time {
                            text-align: right;
                            font-size : 12px;
                            margin-top: 5px;
                        }
                    }

                    .chat-right {
                        text-align   : left;
                        padding      : 20px;
                        margin       : 20px;
                        float        : right;
                        width        : fit-content;
                        max-width    : 80%;
                        color        : #FAEBD7;
                        background   : #3E885B;
                        border-radius: 10px;
                        box-shadow   : -5px 5px 20px 2px #273036;

                        .time {
                            text-align: right;
                            font-size : 12px;
                            margin-top: 5px;
                        }
                    }
                }
            }

            .bottom {
                .text-container {
                    height       : 100%;
                    width        : 100%;
                    display      : flex;
                    align-content: center;
                    align-items  : center;

                    textarea {
                        width        : 100%;
                        height       : 150px;
                        margin       : 10px;
                        border       : 1px solid #273036;
                        border-radius: 10px;
                        padding      : 10px;
                        resize       : none;
                        box-shadow   : 0px 0px 7px 2px #273036;
                        background   : rgba(0, 0, 0, 0.5);
                        color        : #FFFFFF;
                        font-size    : 1em;

                        &:focus {
                            outline   : none;
                            background: rgba(0, 0, 0, 0.75);
                        }

                        &::placeholder {
                            color  : #FFFFFF;
                            opacity: 0.75;
                        }
                    }

                    button {
                        background: url("./../../../assets/send.svg") no-repeat center center;
                        border    : none;
                        height    : 64px;
                        width     : 64px;
                        margin    : 10px;
                        cursor    : pointer;
                    }
                }
            }
        }

        .right {
            width           : 20%;
            text-align      : right;
            background-color: #f6fae0;
            box-shadow      : 3px 0px 6px 3px #273036;

            .list {
                text-align     : left;
                margin         : 10px;
                display        : flex;
                flex-direction : column;
                justify-content: space-between;
                height         : 100%;

                .status {
                    margin-top: 10px;
                    height    : calc(100vh - 250px);
                    overflow  : auto;
                }

                .alias-container {
                    margin-bottom: 20px;

                    input {
                        width        : calc(100% - 45px);
                        margin       : 10px 10px 0px 20px;
                        background   : transparent;
                        border       : 1px solid #273036;
                        font-size    : 1em;
                        border-radius: 5px;
                        padding      : 5px;
                        box-shadow   : 1px 1px 3px 1px #273036;

                        &:focus {
                            outline   : none;
                            background: rgba(0, 0, 0, 0.25);

                            &::placeholder {
                                color: #273036;
                            }
                        }
                    }

                    p {
                        margin-left: 20px;
                    }

                    .btns {
                        padding: 10px;

                        button {
                            margin       : 0px 10px 0px 10px;
                            padding      : 5px 10px 5px 10px;
                            background   : transparent;
                            border       : 1px solid #273036;
                            border-radius: 5px;
                            cursor       : pointer;
                            box-shadow   : 1px 1px 3px 1px #273036;

                            &:hover {
                                color     : #FFFFFF;
                                background: #273036;
                            }

                            &:active {
                                color     : #FFFFFF;
                                background: #3E885B;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background-color: #273036;
        color           : #FFFFFF;
        text-align      : center;
        padding         : 5px 0px;

        a:link,
        a:visited {
            color          : #FFFFFF;
            text-decoration: underline;
            cursor         : pointer;
        }
    }
}