<div class="msg-container">
    <header>
        <div class="left">
            <h1>SAUF Messenger</h1>
            <div class="roomDetails">
                <h3>Room ID: {{roomId}}</h3>
                <button type="button" class="copy tooltip" (click)="onCopy()" (mouseenter)="copyText = 'COPY';">
                    <span class="d-none">copy new room id</span>
                    <span class="tooltip-text" [innerText]="copyText"></span>
                </button>
            </div>
        </div>
        <div class="right">
            <button type="button" [routerLink]="'/home'">Exit</button>
        </div>
    </header>
    <main>
        <div class="left">
            <div class="top">
                <div class="chat-wrapper">
                    <div class="chat-left">
                        <p class="name"> Sayantan </p>
                        <p> other lorem ipsum dolor sit amet </p>
                        <p class="time"> 2:40pm </p>
                    </div>
                </div>
                <div class="chat-wrapper">
                    <div class="chat-right">
                        <p class="name"> You </p>
                        <p> other lorem ipsum dolor sit amet </p>
                        <p class="time"> 2:40pm </p>
                    </div>
                </div>
                <!-- <div class="chat-wrapper">
                    <div class="chat-left">
                        <p class="name"> Sayantan </p>
                        <p> other lorem ipsum dolor sit amet </p>
                        <p class="time"> 2:40pm </p>
                    </div>
                </div>
                <div class="chat-wrapper">
                    <div class="chat-right">
                        <p class="name"> You </p>
                        <p> other lorem ipsum dolor sit amet </p>
                        <p class="time"> 2:40pm </p>
                    </div>
                </div>
                <div class="chat-wrapper">
                    <div class="chat-left">
                        <p class="name"> Sayantan </p>
                        <p> other lorem ipsum dolor sit amet </p>
                        <p class="time"> 2:40pm </p>
                    </div>
                </div>
                <div class="chat-wrapper">
                    <div class="chat-right">
                        <p class="name"> You </p>
                        <p> other lorem ipsum dolor sit amet </p>
                        <p class="time"> 2:40pm </p>
                    </div>
                </div>
                <div class="chat-wrapper">
                    <div class="chat-left">
                        <p class="name"> Sayantan </p>
                        <p> other lorem ipsum dolor sit amet </p>
                        <p class="time"> 2:40pm </p>
                    </div>
                </div>
                <div class="chat-wrapper">
                    <div class="chat-right">
                        <p class="name"> You </p>
                        <p> other lorem ipsum dolor sit amet </p>
                        <p class="time"> 2:40pm </p>
                    </div>
                </div>
                <div class="chat-wrapper">
                    <div class="chat-left">
                        <p class="name"> Sayantan </p>
                        <p> other lorem ipsum dolor sit amet </p>
                        <p class="time"> 2:40pm </p>
                    </div>
                </div>
                <div class="chat-wrapper">
                    <div class="chat-right">
                        <p class="name"> You </p>
                        <p> other lorem ipsum dolor sit amet </p>
                        <p class="time"> 2:40pm </p>
                    </div>
                </div> -->
            </div>
            <div class="bottom">
                <div class="text-container">
                    <textarea class="text" [placeholder]="placeholderText" [(ngModel)]="message"
                        (keyup.enter)="sendMessage()"></textarea>
                    <button class="send" (click)="sendMessage()">Send</button>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="list">
                <div class="status">
                    <h3>Online: 2</h3>
                    <ul>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <!-- <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li>
                        <li>{{aliasFormData}}</li>
                        <li>Hailey Black [You]</li>
                        <li>John Doe</li> -->
                    </ul>
                </div>
                <div class="alias-container">
                    <p>You've connected as:</p>
                    <input class="" type="text" placeholder="Update Alias (required)" [(ngModel)]="aliasFormData"
                        maxlength=30 />
                    <div class="btns">
                        <button type="button" class="" (click)="updateAlias()"
                            [disabled]="aliasFormData.length === 0">Update</button>
                        <button type="button" class="" (click)="generateAlias()">Random</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <footer>
            <p>
                Made with ❤️ by Sayantan Roy. Source code:
                <a href="https://github.com/dusk196/sauf-messenger" target="_blank">GitHub</a>
            </p>
        </footer>
    </footer>
</div>