<header>
  <nav class="navbar is-fixed-top" [ngClass]="isDarkMode ? 'is-dark' : 'is-light'">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="'/home'" target="_blank">
          <span class="icon-text">
            <span class="icon">
              <img src="assets/favicon.svg" alt="logo" />
            </span>
            <span class="has-text-weight-bold"> CIPHOGRAM </span>
          </span>
        </a>
        <div class="navbar-burger burger" [ngClass]="{'is-active':isNavActive}" (click)="toggleNavMenu()">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="navbar-menu" [ngClass]="{'is-active':isNavActive, 'has-background-dark':isDarkMode}">
        <div class="navbar-start">
          <a class="navbar-item" [ngClass]="{'has-text-light':isDarkMode}" (click)="updateInfoModal('room')">
            Room details
          </a>
          <a class="navbar-item" [ngClass]="{'has-text-light':isDarkMode}" (click)="updateInfoModal('alias')">
            Alias ({{localUser.name}})
          </a>
          <a class="navbar-item" [ngClass]="{'has-text-light':isDarkMode}" (click)="updateInfoModal('people')">
            Online ({{allConnectedUsers.length}})
          </a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-rounded" [ngClass]="isDarkMode ? 'is-dark' : 'is-light'" (click)="changeTheme()">
                <span class="icon">
                  <fa-icon [icon]="isDarkMode ? faSun : faMoon"> </fa-icon>
                </span>
                <span [innerText]="isDarkMode ? 'Light' : 'Dark'"> </span>
              </a>
              <a class="button is-rounded" [ngClass]="isDarkMode ? 'is-dark' : 'is-light'" (click)="onPrint()">
                <span class="icon">
                  <fa-icon [icon]="faPrint"> </fa-icon>
                </span>
                <span> Print </span>
              </a>
              <a class="button is-rounded is-danger" (click)="onExit()"> Exit </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <section class="section" [ngClass]="isDarkMode ? 'is-dark has-background-dark' : 'is-light has-background-light'">
    <div class="container is-size-7-touch">
      <ng-container *ngFor="let msg of allMessages; index as i;">
        <ng-container *ngIf="msg.intendedRecipientId === localUser.id">
          <p class="is-italic has-text-weight-light is-size-7"
            [ngClass]="{'has-text-right': msg.createdBy === localUser.id, 'has-text-left': msg.createdBy !== localUser.id, ' has-text-grey-lighter': isDarkMode}"
            [innerText]="msg.createdAt | date:'h:mm a, dd MMM yyyy'">
          </p>
          <div class="block is-clearfix">
            <div class="notification"
              [ngClass]="msg.createdBy === localUser.id ? 'is-pulled-right is-info has-background-info-dark has-text-white' : 'is-pulled-left is-primary has-background-primary-dark has-text-white'">
              <p class="has-text-weight-semibold" [innerText]="msg.createdBy | userById: allConnectedUsers"> </p>
              <p class="has-text-grey-lighter"
                [innerText]="(msg.secretMessage | decryptMsgs) || 'ALERT: Unable to decrypt!'">
              </p>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </section>
</main>
<footer>
  <div class="navbar section is-fixed-bottom" [ngClass]="isDarkMode ? 'is-dark has-background-dark' : 'is-light'">
    <div class="container">
      <div class="block" [ngClass]="isDarkMode ? 'is-dark has-background-dark' : 'is-light'">
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <p class="help has-text-right" [ngClass]="isDarkMode ? 'has-text-grey-light' : 'is-primary'">
                {{messageLength}} characters remaining
              </p>
              <textarea class="field textarea has-fixed-size is-info is-hidden-touch"
                [ngClass]="{'has-background-grey-dark has-text-white': isDarkMode}" placeholder="{{placeholderText}}"
                [(ngModel)]="message" (keyup)="checkMessage()" (keyup.enter)="queueMessage()" [maxlength]="messageSize"
                autofocus> </textarea>
              <textarea class="field textarea has-fixed-size is-info is-small is-hidden-desktop"
                [ngClass]="{'has-background-grey-dark has-text-white': isDarkMode}"
                placeholder="{{mobilePlaceholderText}}" [(ngModel)]="message" (keyup)="checkMessage()"
                (keyup.enter)="queueMessage()" [maxlength]="messageSize" autofocus> </textarea>
              <button type="button" id="mobileSend" class="button is-small is-rounded is-hidden-desktop"
                (click)="queueMessage()"
                [ngClass]="isDarkMode ? 'has-background-info-dark has-text-white' : 'has-background-info-dark has-text-white'">
                Send
              </button>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <button type="button" class="button is-rounded is-medium is-hidden-touch" (click)="queueMessage()"
              [ngClass]="isDarkMode ? 'has-background-info-dark has-text-white' : 'has-background-info-dark has-text-white'">
              Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<app-modal [modalDetails]="modalDetails" (closeModalEvent)="closeModal()"> </app-modal>
<div class="modal" [ngClass]="{'is-active': showInfoModal}">
  <div class="modal-background"> </div>
  <div class="modal-content">
    <section class="section">
      <div *ngIf="infoModalType === 'room'" class="box" [ngClass]="{'has-background-dark has-text-white': isDarkMode}">
        <h1 class="subtitle is-size-4" [ngClass]="{'has-text-white': isDarkMode}"> Room details </h1>
        <div class="content">
          <p>
            Share either the secret <strong [ngClass]="{'has-background-dark has-text-white': isDarkMode}"> Room ID
            </strong> or the <strong [ngClass]="{'has-background-dark has-text-white': isDarkMode}"> Quick Join Link
            </strong> (easiest way) with the other participants.
          </p>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" [ngClass]="{'has-text-white': isDarkMode}"> Room ID: </label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <div class="control has-icons-left is-expanded">
                <input class="field input is-primary" type="text" placeholder="Room ID" [value]="roomId" readonly />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faPeopleRoof"> </fa-icon>
                </span>
              </div>
              <div class="control">
                <button type="button" class="button is-primary" (click)="onCopyId()">
                  <span class="icon is-small">
                    <fa-icon [icon]="faCopy"> </fa-icon>
                  </span>
                  <span> Copy </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" [ngClass]="{'has-text-white': isDarkMode}"> Quick Join Link: </label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <div class="control has-icons-left is-expanded">
                <input class="field input is-primary" type="text" placeholder="Quick Join Link" [value]="quickJoin"
                  readonly />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLink"> </fa-icon>
                </span>
              </div>
              <div class="control">
                <button type="button" class="button is-primary" (click)="onCopyLink()">
                  <span class="icon is-small">
                    <fa-icon [icon]="faCopy"> </fa-icon>
                  </span>
                  <span> Copy </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal"> </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="buttons">
                  <button type="button" class="button is-primary" (click)="share()">
                    Share
                  </button>
                  <button type="button" class="button" (click)="closeInfoModal()">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="infoModalType === 'alias'" class="box" [ngClass]="{'has-background-dark has-text-white': isDarkMode}">
        <h1 class="subtitle is-size-4" [ngClass]="{'has-text-white': isDarkMode}"> Wanna update your
          alias? </h1>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" [ngClass]="{'has-text-white': isDarkMode}"> Alias: </label>
          </div>
          <div class="field-body">
            <div class="field has-addons">
              <div class="control has-icons-left is-expanded">
                <input class="field input is-primary" type="text" placeholder="Your Alias (required)"
                  [(ngModel)]="aliasFormData" maxlength=30 />
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"> </fa-icon>
                </span>
              </div>
              <div class="control">
                <button type="button" class="button is-primary" (click)="generateAlias()">
                  <span class="icon is-small">
                    <fa-icon [icon]="faRotateRight"> </fa-icon>
                  </span>
                  <span> Random </span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="field is-horizontal">
          <div class="field-label is-normal"> </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <div class="buttons">
                  <button type="button" class="button is-primary" (click)="updateAlias()"
                    [disabled]="aliasFormData.length === 0">
                    Update
                  </button>
                  <button type="button" class="button" (click)="closeInfoModal()">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="infoModalType === 'people'" class="box"
        [ngClass]="{'has-background-dark has-text-white': isDarkMode}">
        <h1 class="subtitle is-size-4" [ngClass]="{'has-text-white': isDarkMode}"> Online
          ({{allConnectedUsers.length}}) </h1>
        <div class="content">
          <ul>
            <li *ngFor="let user of allConnectedUsers">
              <span [ngClass]="{'has-text-weight-semibold': user.id === localUser.id}"> {{user.name}} </span>
            </li>
          </ul>
        </div>
        <button type="button" class="button is-primary" (click)="closeInfoModal()">
          Got it
        </button>
      </div>
      <div *ngIf="infoModalType === 'leave'" class="box" [ngClass]="{'has-background-dark has-text-white': isDarkMode}">
        <h1 class="subtitle is-size-4" [ngClass]="{'has-text-white': isDarkMode}"> Warning! </h1>
        <div class="content">
          <p>
            Leaving the room will automatically destroy all of your chats. You still can reconnect, however; you will
            not be able to see the previous chats.
          </p>
        </div>
        <div class="buttons">
          <button type="button" class="button is-primary" [routerLink]="'/home'">
            Leave
          </button>
          <button type="button" class="button" (click)="closeInfoModal()">
            Cancel
          </button>
        </div>
      </div>
    </section>
  </div>
  <button type="button" class="modal-close is-large" (click)="closeInfoModal()" aria-label="close"> </button>
</div>