<div class="modal" [ngClass]="{'is-active': modalDetails.show}">
  <div class="modal-background"> </div>
  <div class="modal-content">
    <section class="section">
      <div class="box">
        <h1 class="title is-size-3 is-size-4-mobile pb-5" [innerText]="modalDetails.title"> </h1>
        <h2 *ngIf="!modalDetails.typeHtml" class="subtitle is-size-5 is-size-6-mobile"
          [innerText]="modalDetails.message"> </h2>
        <h2 *ngIf="modalDetails.typeHtml" class="subtitle is-size-5 is-size-6-mobile"
          [innerHTML]="modalDetails.message"> </h2>
        <button type="button" class="button is-primary" (click)="closeModal()" aria-label="close">
          👍🏼 Got it!
        </button>
      </div>
    </section>
  </div>
  <button type="button" class="modal-close is-large" (click)="closeModal()" aria-label="close"> </button>
</div>