<div class="modal" [ngClass]="{'show': modalDetails.show}">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
            <p>Oh crap! 😱</p>
            <p>We are facing some difficulties while connecting you to the server. 😒 Please try again.</p>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="closeModal()">Got it!</button>
        </div>
    </div>
</div>