@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primary            : #8A4D76;
$info               : #404E7C;
$link               : #2F52E0;
$success            : #3C896D;
$danger             : #B6244F;
$widescreen-enabled : true;
$fullhd-enabled     : true;
$font               : 'Rubik';

@import 'bulma/bulma.sass';

body {
  font-family            : $font, serif, 'Roboto', sans-serif;
  overflow-x             : hidden;
  background-color       : #07070f;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {

  &:not(input, textarea) {
    -webkit-user-select: none;
    user-select        : none;

    &:not(input, textarea)::selection {
      background: none;
    }

    &:not(input, textarea)::-moz-selection {
      background: none;
    }
  }

  &::-webkit-scrollbar {
    width        : 10px;
    border-radius: 50%;
  }

  &::-webkit-scrollbar-track {
    background: #FEFEFE;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8F8F8F;
  }

}
