@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,800;1,100;1,400;1,600;1,800&display=swap');

$white: #FFFFFF;
$black: #000000;

body {
    width                  : 100vw;
    height                 : 100vh;
    margin                 : 0;
    padding                : 0;
    font-family            : 'Montserrat', serif, 'Roboto', sans-serif;
    font-size              : 16px;
    font-weight            : 400;
    color                  : $black;
    background-color       : $white;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow               : hidden;
}

* {
    // scrollbar-width: auto;
    scrollbar-color: #273036 transparent;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        margin    : 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #9E2A2B;
        border-radius   : 20px;
    }
}

h1,
h2,
h3,
p {
    margin: 0;
}

input {
    font-family: 'Montserrat', serif, 'Roboto', sans-serif;
}

button {
    font-family: 'Montserrat', serif, 'Roboto', sans-serif;

    &:disabled {
        opacity       : 0.5;
        pointer-events: none;
    }

    &[disabled] {
        opacity       : 0.5;
        pointer-events: none;
    }
}

app-home {
    background             : url("./assets/background-home.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    height                 : 100vh;
    width                  : 100vw;
    display                : block;
}

.flex-center {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.full-viewport {
    height: 100vh;
    width : 100vw;
}

.tooltip {
    position: relative;

    .tooltip-text {
        visibility      : hidden;
        width           : 100px;
        background-color: $black;
        color           : $white;
        text-align      : center;
        border-radius   : 6px;
        padding         : 5px 0;
        position        : absolute;
        z-index         : 1;
        top             : 125%;
        left            : 50%;
        margin-left     : -50px;
        font-size       : 16px;

        &::after {
            content     : "";
            position    : absolute;
            bottom      : 100%;
            left        : 50%;
            margin-left : -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
        }
    }

    &:hover {
        .tooltip-text {
            visibility: visible;
        }
    }
}

.d-none {
    display: none;
}